In [1]:
import pandas as pd

In [2]:
#class that class that captures planets. 

class Planetclass():
    
    def __init__(self,PlanetName,PlanetDistance,PlanetGravity):
        self.PlanetName = PlanetName
        self.PlanetDistance = PlanetDistance
        self.PlanetGravity = PlanetGravity
        
    def display_PlanetProfile(self):        
        planet_detail = [self.PlanetName, self.PlanetDistance, self.PlanetGravity]
        save_data = pd.DataFrame(planet_detail)
        return save_data

In [3]:
Planet1 = Planetclass ("Earth", 146000000, 9.80)

In [4]:
Planet1.display_PlanetProfile()

           0
0      Earth
1  146000000
2        9.8

In [5]:
#classes that capture bank customers and bank accounts.

class Bank_Customer():
    is_student = True
    
    def __init__(self,FirstName,LastName):
        self.FirstName = FirstName
        self.LastName = LastName
        Bank_Customer_detail = [self.FirstName, self.LastName]
    
    def Bank_Customerdisplay(self):
        print(f"{self.FirstName} {self.LastName}")
   

class Bank_Account():
    #is_Bankc = True
    def __init__(self, Customer, Balance):
        self.Customer = Customer
        self.Balance = Balance
    
    def Bank_Accountdisplay(self):
        print(f"{self.Customer} {self.Balance}")

In [6]:
Bank_Customer1 = Bank_Customer("Dozie", "Nwosu")
Bank_Account1 = Bank_Account("Dozie Nwosu",20000000000)
Bank_Account2 = Bank_Account("Dozie Nwosu",30000000000)
Bank_Customer1.Bank_Customerdisplay()
Bank_Account1.Bank_Accountdisplay()
Bank_Account2.Bank_Accountdisplay()

Dozie Nwosu
Dozie Nwosu 20000000000
Dozie Nwosu 30000000000